html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  accent-color: #105889;
  font-family: "Open Sans", sans-serif;
  font: normal 16px/24px "Open Sans";
  color: #444;
}

a {
  color: #105889;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

header,
footer {
  padding: 23px;
}

header {
  background-color: #189ad8;
  text-align: center;
}

header a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

header h1 {
  color: white;
  font-weight: 500;
  font-size: 30px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

header img {
  width: 80px;
  display: block;
}

footer {
  background: #105889;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

footer a {
  color: inherit;
}

footer img {
  width: 100px;
}

.item {
  display: flex;
  /* align-items: center; */
  column-gap: 20px;
}

.item h2,
.item > p {
  margin-top: 0;
}

.item:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

.item:first-child {
  margin-top: 0;
}

.item img {
  width: 250px;
  display: block;
}

.item .desc {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 480px;
}

.item p:last-child {
  color: #105889;
}

.item p:last-child span {
  color: black;
  opacity: 0.5;
}

.main {
  display: grid;
  grid-template-columns: minmax(200px, 20%) 1fr;
}

.main aside,
.main main {
  padding: 20px;
}

.main main {
  padding-bottom: 5px;
}

.main #search {
  font: inherit;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

.main #search:placeholder-shown ~ #where {
  display: none;
}

.where span,
.where label {
  display: block;
}

.main aside {
  background: #f0f4f4;
}

#facets p {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

#facets span {
  opacity: 0.25;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #333;
    color: #f3f3f3;
  }

  a {
    color: #60c4de;
  }

  .main aside {
    background: #666;
  }

  footer {
    background: #111;
  }

  .item p:last-child,
  .item p:last-child span {
    color: white;
    opacity: 0.5;
  }
}

/* call to action section */
#ca {
  background: #f0f4f4;
  padding: 170px 20px;

  background-image: url("https://italks.com.ua/users/sergii.mikulov/img/1img-20231123084414754756.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

#ca h1 {
  font-weight: 500;
}

#ca p {
  margin: 20px 0;
}

#ca a {
  border-radius: 5px;
  background: #105889;
  color: white;
  padding: 10px 20px;
  display: inline-block;
}

@media (max-width: 42em) {
  header h1 span,
  #facets,
  footer .logo {
    display: none;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .main #search {
    margin-bottom: 0;
  }

  #where {
    display: none;
  }

  .item {
    flex-direction: column;
  }

  .item .desc {
    max-width: 90vw;
  }

  footer {
    text-align: center;
  }

  #ca {
    background-image: none;
    padding: 20px;
    text-align: center;
  }
}
